// 标题，修改成你期望的字体族
$font-family-headings = "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;

// 修改成你期望的字体族
$font-family-base = "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;

// 代码字体
$code-font-family = "Monaco", "PT Mono", Consolas, Monaco, Menlo, monospace

// 正文字体的大小
$font-size-base = 14px

// 代码字体的大小
$code-font-size = 13px
